<!doctype html>
<html>

<head>
    <title>➰</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="ytdmController">
    <!-- FB Like -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=877765992280343";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- EndFB Like -->

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M6FZ7D" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M6FZ7D');
    </script>
    <!-- End Google Tag Manager -->

    <div id="loadingContainer">
        <div id="loading">Loading... 
            <div ng-show="showControls != null" ng-cloak>Samples loaded {{ tracksLoaded }} / {{ song.tracks.length }}...</div>
    </div>
    </div>
    <div id="ytdmController">

        <div id="playersContainer">
               <div class="playOverlayContainer" ng-show="showControls == null">
                    <div class="playButton" ng-mousedown="pressPlayButton()">></div>
                </div>
             <div id="players">
             </div>
        </div>
        <div id="songControls">
            <div ng-if="showControls > 1 || (showControls != null && showControls < 2 && !song.tracks.length)">
                <!-- ng-blur is triggered before item's ng-click -->
                <input id="youtubeURLInput" class="sampleTimeInput" ng-focus="hideResults=false" ng-blur="hideResults=true" ng-model="newVideoUrl" ng-change="searchVideo(newVideoUrl)" placeholder="YouTube video name or url" />
                <div class="searchResults" ng-show="searchResults" ng-hide="hideResults">
                    <div class="searchResult" ng-repeat="result in searchResults" ng-mousedown="addTrack(result.id)">{{ result.title }}</div>
                </div>
                <div id="addTrack" class="button marginRight" ng-click="addTrack(getIdFromUrl(newVideoUrl))">+</div>
            </div>
            <div ng-if="showControls > 2">
                <label>🕰 </label>
                <input class="sampleTimeInput" ng-model="song.intervalLength" maxlength="4" type="number" step="10"></input>
            </div>
            <div class="controlsSecondLevel" ng-if="showControls > 3">
                <label>⬌ </label>
                <input class="sampleTimeInput" ng-model="song.trackLength" 
                ng-change="changeTrackLength(song.trackLength, {{song.trackLength}})" type="number" step="4"></input>
                <label>0.<s>🔊</s></label>
                <input type="checkbox" class="sampleTimeInput marginRight" ng-model="song.muteOnStart">
                <label>⥊ </label>
                <input type="radio" ng-model="song.isHorizontal" ng-value="true" ng-change="setIsHorizontal(song.isHorizontal)">
                <label>⥍ </label>
                <input type="radio" ng-model="song.isHorizontal" ng-value="false" ng-change="setIsHorizontal(song.isHorizontal)">
                <label title="Random player size">𝜉</label>
                <input type="checkbox" class="sampleTimeInput" ng-model="randomSizes">
                <label>↔ </label>
                <input class="sampleTimeInput marginRight" ng-model="song.width" type="number" step="10" ng-change="changeSongWidth(song.width)"></input>
                <div>
                </div>
            </div>
            <div ng-if="song.tracks.length && showControls != null">
                <div class="button biggerFont" ng-mousedown="toggleControls()">🎛</div>
                <div class="button" ng-click="run()">></div>
                <div class="button" ng-click="pause()">||</div>
                <div class="button" ng-click="toggleFullScreen()">⛶</div>
            </div>
        </div>
        <div id="trackControls" ng-if="song.tracks.length && showControls > 0" ng-init="initTrackControls()">
            <div id="trackControlsInner">
                <div class="track">
                    <div class="buttonSpacer marginRight"></div>
                    <div class="columnLabel" ng-show="showControls > 2">↬</div>
                    <div class="columnLabel" ng-show="showControls > 2">🔊</div>
                    <div class="columnLabel" ng-show="showControls > 3">↔</div>
                    <div class="columnLabel" ng-show="showControls > 3">↕</div>
                </div>
                <span class="pad" dragula='"bag-one"' dragula-model="song.tracks" dragula-scope='$scope'>
                        <div class="track" ng-repeat="track in song.tracks track by $index">
                            
                            <div class="button marginRight" ng-click="deleteSample($index)" 
                                ng-show="showControls > 1">X</div>
                            <input class="sampleTimeInput" type="number" step="0.1" ng-model="track.start" size="4" ng-show="showControls > 2"></input>
                            <!--<input class="sampleTimeInput" type="number" step="0.1" ng-model="track.end" size="4"></input>-->
                            <input class="sampleTimeInput" ng-class="showControls == 3 ? 'marginRight' : null" 
                                type="number" step="10" ng-model="track.volume" ng-change="changeTrackVolume(track.volume, $index)" 
                                min="0" max="100" 
                                ng-show="showControls > 2"></input>
                            <input class="sampleTimeInput" type="number" step="10" ng-model="track.width" 
                                ng-change="changeSize($index)" size="4"
                                ng-show="showControls > 3"></input>
                            <input class="sampleTimeInput marginRight" type="number" step="10" 
                                ng-model="track.height" ng-change="changeSize($index)" size="4"
                                ng-show="showControls > 3"></input>                    
                            <div class="bar" ng-repeat="bar in track.track track by $index" 
                                ng-class ="track.track[$index] == true ?
                                    ($index == currentStep ? 'currentPressedBar' : 'pressedBar') :
                                    ($index == currentStep ? 'currentBar' : null)"
                                ng-model="track.track[$index]" ng-click="track.track[$index] = !track.track[$index]"
                                ></div>
                            <div class="trackMoveHandleContainer" ng-show="showControls > 1"><div class="trackMoveHandle">⇕</div></div>
                        </div>
                    </span>
            </div>
        </div>
        <div id="shortContainer" ng-if="song.tracks.length && showControls > 0">
            <div class="buttonSpacer marginRight"></div>

            <input id="name" placeholder="Name & save your loop" maxlength="48" ng-model="name" />
            <div id="saveButton" class="button biggerFont marginRight" ng-click="save(name)">🖭</div>
            <input id="savedUrl" ng-model="savedUrl" ng-if="savedUrl" readonly/>
        </div>
    </div>
    <footer>
        <div id="footerInner">
            <div>
                <a target="_self" href="/library"><b>MORE BEATS</b></a> | 
                <a target="_self" href="/"><b>CREATE</b></a> | 
                beatified69@gmail.com |
                <a target="_blank" href="https://www.youtube.com/watch?v=5kZQfM2z9mk">inspiration</a> |
                works best with Chrome | 
                <a target="_blank" href="https://www.youtube.com/watch?v=bu7GxwMf5Nw">?</a>
            </div>
            <div class="fb-like" data-href="https://www.facebook.com/beatified69/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
    </footer>

    <script data-main="main.js" src="../node_modules/requirejs/require.js"></script>

</body>

</html>