@import url(https://fonts.googleapis.com/css?family=Roboto);
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #676767;
  font-size: 12px; }
  body #ytdmController {
    display: none; }
  body footer, body #loadingContainer {
    display: flex;
    justify-content: center; }
    body footer #footerInner, body #loadingContainer #footerInner {
      border-top: 1px solid lightgrey;
      padding-top: 0.3rem;
      font-size: 10px;
      text-align: center; }
      body footer #footerInner .fb-like, body #loadingContainer #footerInner .fb-like {
        margin: 1em; }
    body footer #loading, body #loadingContainer #loading {
      font-size: 10px;
      width: 10rem;
      text-align: center;
      margin: 1rem 0rem; }

input {
  color: #676767;
  font-size: 10px; }

.debug {
  font-size: 9px; }

.button {
  display: inline-block;
  width: 20px;
  line-height: 20px;
  background-color: #eff0f2;
  border-radius: 4px;
  box-shadow: inset 0 0 1px #e8e8e8, 0 1px 0 #c9c9c9, 0 1px 1px #333;
  margin: 0px 2px;
  font-size: 8px;
  text-align: center;
  border: 0;
  background-color: whitesmoke; }
  .button:hover {
    cursor: pointer; }
  .button.biggerFont {
    font-size: 14px; }
  .button.marginRight {
    margin-right: 24px; }

.button:active {
  color: #888;
  background: #ebeced;
  -webkit-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;
  -moz-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;
  box-shadow: inset 0 0 25px #ddd, 0 0 3px #333; }

#playersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: darkgrey; }
  #playersContainer #players {
    width: 100%;
    background-color: #eff0f2; }
  #playersContainer .playOverlayContainer {
    z-index: 1;
    font-size: 64px;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    background-color: rgba(211, 211, 211, 0.45);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
    #playersContainer .playOverlayContainer .playButton {
      border: 2px;
      border-style: solid;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin: 0;
      text-align: center; }
      #playersContainer .playOverlayContainer .playButton:hover {
        cursor: pointer;
        border-style: dashed; }

#ytdmController > * {
  margin-bottom: 24px; }

#ytdmController input:not([type='radio']):not([type='checkbox']) {
  padding: 0;
  margin: 0px 2px;
  text-align: center;
  border: 0;
  width: 48px;
  line-height: 24px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset; }

#ytdmController #youtubeURLInput {
  width: 16em; }

#ytdmController #songControls {
  display: flex;
  align-items: center;
  justify-content: center; }
  #ytdmController #songControls .controlsSecondLevel {
    display: flex;
    align-items: center; }
  #ytdmController #songControls input {
    margin-right: 12px; }
  #ytdmController #songControls .searchResults {
    z-index: 1;
    position: absolute;
    background-color: white;
    margin: 0px 6px;
    /* padding: 6px; */ }
  #ytdmController #songControls .searchResult {
    padding: 4px 6px;
    cursor: pointer; }
    #ytdmController #songControls .searchResult:hover {
      background-color: #eff0f2; }
  #ytdmController #songControls .marginRight,
  #ytdmController #songControls input.marginRight {
    margin-right: 24px; }
  #ytdmController #songControls #youtubeURLInput {
    margin-right: 2px; }
  #ytdmController #songControls label {
    margin-right: 6px; }
  #ytdmController #songControls input[type="radio"] {
    margin-top: 0;
    margin-left: 0; }

#ytdmController .buttonSpacer {
  width: 20px;
  margin: 0px 2px; }

#ytdmController #trackControls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; }
  #ytdmController #trackControls .track, #ytdmController #trackControls .trackHeader {
    display: flex;
    align-items: center; }
    #ytdmController #trackControls .track .marginRight, #ytdmController #trackControls .track input.marginRight, #ytdmController #trackControls .trackHeader .marginRight, #ytdmController #trackControls .trackHeader input.marginRight {
      margin-right: 12px; }
    #ytdmController #trackControls .track .columnLabel, #ytdmController #trackControls .trackHeader .columnLabel {
      width: 52px;
      text-align: center;
      border-bottom: 1px solid lightgrey;
      height: 20px; }
    #ytdmController #trackControls .track .sampleDelete, #ytdmController #trackControls .trackHeader .sampleDelete {
      padding: 0;
      margin: 0;
      font-size: 11px;
      /*color: $color-font-darkgrey;*/
      text-align: center;
      border: 0;
      border-top: 1px solid lightgrey;
      background-color: whitesmoke;
      border-left: 1px solid lightgrey; }
    #ytdmController #trackControls .track .bar:nth-child(4n + 6), #ytdmController #trackControls .trackHeader .bar:nth-child(4n + 6) {
      /*border-left: 1px solid darkgrey;*/ }
    #ytdmController #trackControls .track .bar, #ytdmController #trackControls .trackHeader .bar {
      display: inline-flex;
      width: 40px;
      height: 40px;
      margin: 3px;
      background-color: #eff0f2;
      /*-moz-border-radius: 4px;*/
      border-radius: 4px;
      /* border-top: 1px solid #f5f5f5; */
      /* -webkit-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333; */
      /*-moz-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;*/
      box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
      filter: dropshadow(color=#f5f5f5, offx=0, offy=1); }
      #ytdmController #trackControls .track .bar:hover, #ytdmController #trackControls .trackHeader .bar:hover {
        cursor: pointer; }
      #ytdmController #trackControls .track .bar:nth-child(4n + 5), #ytdmController #trackControls .trackHeader .bar:nth-child(4n + 5) {
        margin-right: 0.4rem; }
    #ytdmController #trackControls .track .pressedBar, #ytdmController #trackControls .trackHeader .pressedBar {
      background-color: #D5D553;
      /* -webkit-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333; */
      /*-moz-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;*/
      box-shadow: inset 0 0 16px #8F8F56, 0 2px 0 #95954B, 0 2px 9px #92922F;
      /* border-top: 1px solid #eee; */ }
    #ytdmController #trackControls .track .currentPressedBar, #ytdmController #trackControls .trackHeader .currentPressedBar {
      background-color: yellow;
      box-shadow: inset 0 0 20px #8F8F56, 0 2px 0 #95954B, 0 2px 9px #92922F; }
    #ytdmController #trackControls .track .currentBar, #ytdmController #trackControls .trackHeader .currentBar {
      background-color: #ffffa8;
      box-shadow: inset 0 0 20px #8F8F56, 0 2px 0 #95954B, 0 2px 9px #92922F; }
    #ytdmController #trackControls .track .trackMoveHandleContainer, #ytdmController #trackControls .trackHeader .trackMoveHandleContainer {
      display: table-cell;
      /* height: 12px; */
      width: 25px;
      vertical-align: middle;
      /* border-left: 1px solid white; */
      /* border-top: 1px solid white; */
      /* background-color: lightgrey; */
      /* border-radius: 0px 5px 5px 0px; */ }
      #ytdmController #trackControls .track .trackMoveHandleContainer .trackMoveHandle, #ytdmController #trackControls .trackHeader .trackMoveHandleContainer .trackMoveHandle {
        /* display: table-cell; */
        /*height: 34px;*/
        line-height: 34px;
        /* width: 100%; */
        /*color: hsla(0,0%,60%,1);*/
        /* font-weight: bold; */
        color: darkgrey;
        font-size: 14px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        background-color: lightgrey;
        border-radius: 0px 5px 5px 0px;
        box-shadow: 1px 2px 1px #8f8f8f;
        text-align: center; }

#ytdmController #shortContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px; }
  #ytdmController #shortContainer #name {
    width: 24em; }
  #ytdmController #shortContainer #savedUrl {
    width: 360px; }

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/*# sourceMappingURL=style.css.map */
