@import url(https://fonts.googleapis.com/css?family=Roboto);
$margin-right: 12px;
$color-font-darkgrey: #676767;
$buttonWidth: 20px;
$font-size: 12px;
$colorButtonGreyLight: #eff0f2;

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $color-font-darkgrey;
    font-size: $font-size;
    #ytdmController {
        display: none;
    }
    footer, #loadingContainer {
        display: flex;
        justify-content: center;
        #footerInner {
            border-top: 1px solid lightgrey;
            padding-top: 0.3rem;
            font-size: 10px;
            // width: 14rem;
            text-align: center;
            .fb-like {
                margin: 1em;
            }
        }
        #loading {
            font-size: 10px;
            width: 10rem;
            text-align: center;
            margin: 1rem 0rem;
        }
    }
    
}

input {
    color: $color-font-darkgrey;
    font-size: 10px;
}

.debug {
    font-size: 9px;
}

.button {
    display: inline-block;
    width: $buttonWidth;
    line-height: 20px;
    background-color: $colorButtonGreyLight;
    border-radius: 4px;
    box-shadow: inset 0 0 1px #e8e8e8, 0 1px 0 #c9c9c9, 0 1px 1px #333;
    margin: 0px 2px;
    font-size: 8px;
    text-align: center;
    border: 0;
    // border-top: 1px solid lightgrey;
    background-color: whitesmoke;
    // border-left: 1px solid lightgrey;
    // vertical-align: middle;
    &:hover {
        cursor: pointer;
    }
    &.biggerFont {
        font-size: 14px;
    }
    &.marginRight{
        margin-right: 2 * $margin-right;
    }
}

.button:active {
    color: #888;
    background: #ebeced;
    -webkit-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;
    -moz-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;
    box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;
}

#playersContainer {
    display: flex;
    align-items: center;
    justify-content: center;    
    position: relative;
    width:100%;
    background-color: darkgrey;
    #players {
        width: 100%;
        background-color: $colorButtonGreyLight;
    }    
    .playOverlayContainer {
        z-index: 1;
        font-size: 64px;
        position: absolute;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        /* align-content: center; */
        background-color: rgba(211,211,211,0.45);     
        width:100%;
        height:100%;
        left: 0;
        top: 0;
        .playButton {
            border: 2px;
            border-style:  solid;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            margin: 0;
            text-align: center;
            &:hover {
                cursor: pointer;
                border-style:  dashed;
            }
        }
    }
}

#ytdmController {
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    & > * {
        margin-bottom: 24px;
    }
    input:not([type='radio']):not([type='checkbox']) {
        padding: 0;
        margin: 0px 2px;
        // font-size: 12px;
        // color: $color-font-darkgrey;
        text-align: center;
        border: 0;
        width: $font-size * 4;
        line-height: $font-size * 2;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
    }
    #youtubeURLInput {
        width: 16em;;
    }
    #songControls {
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 100%;
        .controlsSecondLevel {
            display: flex;
            align-items: center;
        }
        input {
            margin-right: $margin-right;
        }
        .searchResults {
            z-index: 1;
            position: absolute;
            background-color: white;
            margin: 0px 6px;
            /* padding: 6px; */            
        }
        .searchResult {
            padding: 4px 6px;
            cursor: pointer;
            &:hover {
                background-color: $colorButtonGreyLight;
                // color: white;                
            }
        }
        .marginRight,
        input.marginRight{
            margin-right: 2 * $margin-right;
        }
        #youtubeURLInput {
            margin-right:  $margin-right/6;
        }
        label {
            margin-right: $margin-right/2;
        }
        input[type="radio"] {
            margin-top: 0;
            margin-left: 0;
        }        
    }
    .buttonSpacer {
        width: $buttonWidth;
        margin: 0px 2px;
    }    
    #trackControls {
        // margin: 8px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        // .trackColumnLabels {
        //     display: flex;
        // }
        .track, .trackHeader {
            display: flex;
            align-items: center;

            .marginRight, input.marginRight {
                margin-right: $margin-right;
            }

            // This won't work, cause
            // the dom elements are in the tree, just
            // not visible
            // & > input.sampleTimeInput:last-of-type{
            //     margin-right: 2 * $margin-right;
            // }
            
            .columnLabel {
                width: 52px;
                text-align: center;
                border-bottom: 1px solid lightgrey;
                height: 20px;
            }
            .sampleDelete {
                padding: 0;
                margin: 0;
                font-size: 11px;
                /*color: $color-font-darkgrey;*/
                text-align: center;
                border: 0;
                border-top: 1px solid lightgrey;
                background-color: whitesmoke;
                border-left: 1px solid lightgrey;
            }
            .bar:nth-child(4n + 6) {
                /*border-left: 1px solid darkgrey;*/
            }
            .bar {
                display: inline-flex;
                width: 40px;
                height: 40px;
                margin: 3px;
                background-color: $colorButtonGreyLight;
                /*-moz-border-radius: 4px;*/
                border-radius: 4px;
                /* border-top: 1px solid #f5f5f5; */
                /* -webkit-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333; */
                /*-moz-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;*/
                box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
                filter: dropshadow(color=#f5f5f5, offx=0, offy=1);
                &:hover {
                    cursor: pointer;
                }
                &:nth-child(4n + 5) {
                    margin-right: 0.4rem;
                }
            }
            .pressedBar {
                background-color: #D5D553;
                /* -webkit-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333; */
                /*-moz-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;*/
                box-shadow: inset 0 0 16px #8F8F56, 0 2px 0 #95954B, 0 2px 9px #92922F;
                /* border-top: 1px solid #eee; */
            }
            .currentPressedBar {
                background-color: hsl(60, 100%, 50%);
                box-shadow: inset 0 0 20px #8F8F56, 0 2px 0 #95954B, 0 2px 9px #92922F;
            }
            .currentBar {
                background-color: hsl(60, 100%, 83%);
                box-shadow: inset 0 0 20px #8F8F56, 0 2px 0 #95954B, 0 2px 9px #92922F;
            }
            .trackMoveHandleContainer {
                display: table-cell;
                /* height: 12px; */
                width: 25px;
                vertical-align: middle;
                /* border-left: 1px solid white; */
                /* border-top: 1px solid white; */
                /* background-color: lightgrey; */
                /* border-radius: 0px 5px 5px 0px; */
                .trackMoveHandle {
                    /* display: table-cell; */
                    /*height: 34px;*/
                    line-height: 34px;
                    /* width: 100%; */
                    /*color: hsla(0,0%,60%,1);*/
                    /* font-weight: bold; */
                    color: darkgrey;
                    font-size: 14px;
                    border-left: 1px solid white;
                    border-top: 1px solid white;
                    background-color: lightgrey;
                    border-radius: 0px 5px 5px 0px;
                    box-shadow: 1px 2px 1px hsl(0, 0%, 56%);
                    text-align: center;
                }
            }
        }
    }
    // #shortButton {
    //     width: 36px;
    // }
    #shortContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        #name {
            width: 24em;        
        }
        #savedUrl {
            width: $font-size * 30;
        }
    }
}

// .divider {
//     border-left:2px solid lightgrey;
// }